
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="header">
    <div class="row justify-content-center m-4">
        <table class="col-11 justify-content-center bg-dark text-light p-2 rouded-5">
            <tr>
                <td class="text-center">
                    Home
                </td>
                <td class="text-center">
                    Eventos
                </td>
                <td class="text-center">
                    Usuários
                </td>
                <td class="text-center">
                    Teste
                </td>
                <td class="text-center">
                    Home
                </td>
            </tr>
        </table>
    </div>
</th:block>
</body>
</html>