
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="header" class="row justify-content-center mt-2 ">
        <table class="col-11 justify-content-center bg-dark text-light p-4 rounded-5 min-hv-75">
            <tr>
                <td class="text-center">
                    <a href="/">Home</a>
                </td>
                <td class="text-center">
                    <a href="/eventos">Eventos</a>
                </td>
                <td class="text-center">
                    <a href="/usuarios">Usuários</a>
                </td>
                <td class="text-center">
                    <a href="/">Teste</a>
                </td>
                <td class="text-center">
                    <a href="/" class="text-decoration-none">Home</a>
                </td>
            </tr>
        </table>
        <div id="message" class="col-5 m-1 position-absolute top-25 start-25 mt-5">
            <div class="card h-75 text-light text-center opacity-75">
                <span th:if="${message}" class="bg-success" role="alert" th:text="${message}"></span>
                <span th:if="${alert}" class="bg-danger" role="alert" th:text="${alert}"></span>
            </div>
        </div>

    </div>
</body>
</html>