
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="header" class="row justify-content-center mt-2 ">
        <table class="menu col-11 justify-content-center bg-dark t-2 text-light p-4 rounded-5 min-hv-75 text-decoration-none">
            <tr>
                <td class="text-center">
                    <a href="/"><p>Home</p></a>
                </td>
                <td class="text-center">
                    <a href="/eventos"><p>Eventos</p></a>
                </td>
                <td class="text-center">
                    <a href="/usuarios"><p>Usuários</p></a>
                </td>
                <td class="text-center">
                    <a href="/"><p>Teste</p></a>
                </td>
                <td class="text-center">
                    <a href="/" class="text-decoration-none"><p>Home</p></a>
                </td>
            </tr>
        </table>
        <div id="message" class="col-5 m-1 position-absolute top-25 start-25 mt-5">
            <div class="card h-75 text-light text-center opacity-75">
                <span th:if="${message}" class="bg-success" role="alert" th:text="${message}"></span>
                <span th:if="${alert}" class="bg-danger" role="alert" th:text="${alert}"></span>
            </div>
        </div>

    </div>
</body>
</html>