<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Título</title>
    <th:block th:fragment="styles">
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <!-- Inclua aqui qualquer CSS adicional específico para a página -->
    </th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <div th:replace="layouts/header :: header"></div>
</header>
<main class="flex-fill">
    <!-- Conteúdo principal da página -->
    <div th:replace="${view} :: content"></div>
</main>
<footer>
    <div th:replace="layouts/footer :: footer"></div>
</footer>
<!-- Bootstrap JS e dependências (opcional) -->

<!-- Scripts adicionais -->
<th:block th:fragment="scripts">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/temp_alert.js"></script>
</th:block>
</body>
</html>