<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:replace="layouts/main :: title">Cadastrar Evento</title>
    <th:block th:replace="layouts/main :: styles"></th:block>
</head>
<body>
<th:block th:replace="layouts/header :: header"></th:block>
<th:block th:fragment="content">

    <h1 class="text-center">Cadastrar Evento</h1>
    <form method="post"  action="/atualizarEvento">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${evento.id}" />
        <label>Nome:</label>
        <label>
            <input type="text" th:value="${evento.nome}" name="nome"/>
        </label>
        <label>Local de realização:</label>
        <label>
            <input type="text" th:value="${evento.local}" name="local"/>
        </label>
        <label>Data:</label>
        <label>
            <input type="date" th:value="${evento.data}" name="data"/>
        </label>
        <label>Horário:</label>
        <label>
            <input type="time" th:value="${evento.horario}" name="horario"/>
        </label>

        <button type="submit">Salvar</button>
    </form>
</th:block>
</body>

</html>