<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<body>
<h1 th:fragment="titulo">Editar Evento</h1>
<div th:fragment="content">

    <form method="post"  action="/atualizarEvento">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" name="id" th:value="${evento.id}" />
        <label>Nome:</label>
        <label>
            <input type="text" th:value="${evento.nome}" name="nome"/>
        </label>
        <label>Local de realização:</label>
        <label>
            <input type="text" th:value="${evento.local}" name="local"/>
        </label>
        <label>Data:</label>
        <label>
            <input type="date" th:value="${evento.data}" name="data"/>
        </label>
        <label>Horário:</label>
        <label>
            <input type="time" th:value="${evento.horario}" name="horario"/>
        </label>

        <button type="submit">Salvar</button>
    </form>
</div>
</body>

</html>