<html>
<body>
<head>
    <title>
        Eventos
    </title>
</head>
</body>

    <h1>Eventos</h1>
    <form method="post"  action="/cadastrarEvento">
        <label>Nome:</label>
        <label>
            <input type="text" value="" name="nome"/>
        </label>
        <label>Local de realização:</label>
        <label>
            <input type="text" value="" name="local"/>
        </label>
        <label>Data:</label>
        <label>
            <input type="date" value="" name="data"/>
        </label>
        <label>Horário:</label>
        <label>
            <input type="time" value="" name="horario"/>
        </label>

        <button type="submit">Salvar</button>
    </form>
</html>