<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<body>

<h1 th:fragment="titulo">Cadastrar Evento</h1>
<div th:fragment="content">


    <form method="post"  action="/cadastrarEvento">
        <label>Nome:</label>
        <label>
            <input type="text" value="" name="nome"/>
        </label>
        <label>Local de realização:</label>
        <label>
            <input type="text" value="" name="local"/>
        </label>
        <label>Data:</label>
        <label>
            <input type="date" value="" name="data"/>
        </label>
        <label>Horário:</label>
        <label>
            <input type="time" value="" name="horario"/>
        </label>

        <button type="submit">Salvar</button>
    </form>
</div>
<th:block th:replace="layouts/main :: scripts"></th:block>
</body>

</html>