<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<body>
<div th:fragment="content">
    <h1 class="text-center m-5">Eventos</h1>

    <div class="container ml-5">
        <a href="/cadastrarEvento" class="btn btn-primary opacity-75">Cadastrar</a>
    </div>

    <table class="justify-content-center table-striped container table-bordered mt-3">
        <tr class="bg-dark">
            <th class="col-4 table-dark text-center">Nome</th>
            <th class="col-3 table-dark text-center">Local</th>
            <th class="col-2 table-dark text-center">Data</th>
            <th class="col-2 table-dark text-center">Horário</th>
            <th colspan="3" class="col-2 table-dark text-center">Ações</th>
        </tr>
    <tr th:each="evento : ${eventos}">
            <td class="col-2"><span th:text="${evento.nome}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.local}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.data}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.horario}"></span></td>
            <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.id)).build()}"><span>Mostrar</span></a></td>
            <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#editarEvento').arg(0, evento.id)).build()}"><span>Editar</span></a></td>
            <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.id)).build()}" onclick="return confirm('Tem certeza que deseja deletar este evento?')">
                <span>Excluir</span></a></td>
    </tr>
    </table>

    <div th:replace="layouts/main :: scripts"></div>
</body>

</html>