<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<body>
<h1 th:fragment="titulo">Detalhes do Evento</h1>
<div th:fragment="content">

    <div class="container ml-5">
        <a href="/cadastrarEvento" class="btn btn-primary">Cadastrar</a>
    </div>

    <table class="justify-content-center table-striped container table-bordered mt-3">
        <tr class="bg-dark">
            <th class="col-4 table-dark text-center">Nome</th>
            <th class="col-3 table-dark text-center">Local</th>
            <th class="col-2 table-dark text-center">Data</th>
            <th class="col-2 table-dark text-center">Horário</th>
        </tr>
    <div th:each="evento : ${evento}">
        <div class="row">
            <tr>
            <td class="col-2"><span th:text="${evento.nome}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.local}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.data}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.horario}"></span></td>
            </tr>
        </div>
    </div>
    </table>
    <div class="row mt-3">
        <table class="col-4 offset-4">
            <tr>
                <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#editarEvento').arg(0, evento.id)).build()}"><button class="btn btn-warning">Editar</button></a></td>
                <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.id)).build()}" onclick="return confirm('Tem certeza que deseja deletar este evento?')">
                    <button class="btn btn-danger">Excluir</button></a></td>
                <td class="col-2 text-center"><button class="btn btn-secondary" onclick="window.history.back()">Voltar</button></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>