<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main.html}">
<body>
<h1 th:fragment="titulo">Detalhes do Evento</h1>
<div th:fragment="content">



    <table class="justify-content-center table-striped container table-bordered mt-3">
        <tr class="bg-dark">
            <th class="col-4 table-dark text-center">Nome</th>
            <th class="col-3 table-dark text-center">Local</th>
            <th class="col-2 table-dark text-center">Data</th>
            <th class="col-2 table-dark text-center">Horário</th>
        </tr>
    <div th:each="evento : ${evento}">
        <div class="row">
            <tr>
            <td class="col-2"><span th:text="${evento.nome}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.local}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.data}"></span></td>
            <td class="col-2 text-center"><span th:text="${evento.horario}"></span></td>
            </tr>
        </div>
    </div>
    </table>
    <div class="row mt-3">
        <table class="col-4 offset-4">
            <tr>
                <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#editarEvento').arg(0, evento.id)).build()}"><button class="btn btn-warning">Editar</button></a></td>
                <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.id)).build()}" onclick="return confirm('Tem certeza que deseja deletar este evento?')">
                    <button class="btn btn-danger">Excluir</button></a></td>
                <td class="col-2 text-center"><button class="btn btn-secondary" onclick="window.history.back()">Voltar</button></td>
            </tr>
        </table>
    </div>
    <hr class="bold m-4"/>
    <div id="row convidados justify-content-center">
        <form method="post" class=" col-8 offset-2">
            <div>
                <label class="col-6 form-label">Nome do convidado:</label>
                <label class="col-3 form-label">RG:</label>
            </div>
            <div>
                <input type="text" value="" name="nomeConvidado" class="col-6 form-input">
                <input type="text" value="" name="rg" class="col-2 form-input">
                <button type="submit" class="btn btn-success col-3">Adicionar convidado</button>
            </div>
        </form>
    </div>
    <table class="table justify-content-center table-striped table-border container mt-3 col-8">
            <tr>
                <th class="col-4"><span>Nome</span></th>
                <th class="col-2 text-center"><span>RG</span></th>
                <th colspan="3" class="col-5 text-center"><span>Ações</span></th>
            </tr>
        <div th:each="convidado : ${convidados}" class="row">
            <tr>
                <td class="col-4"><span th:text="${convidado.nomeConvidado}"></span></td>
                <td class="col-2 text-center"><span th:text="${convidado.rg}"></span></td>
                <td class="col-2 text-center"><button class="btn btn-warning"
                        data-bs-toggle="modal"
                        th:data-bs-target="'#modalEditaConvidado-' + ${convidado.id}">
                    Editar
                </button></td>
                <td class="col-2 text-center"><a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.id)).build()}" onclick="return confirm('Tem certeza que deseja deletar este convidado?')">
                    <span>Excluir</span></a></td>
            </tr>
            <div class="modal fade" th:id="'modalEditaConvidado-' + ${convidado.id}"  tabindex="-1" aria-labelledby="modalEditaConvidadoLable" aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEditaConvidadoLabel">Editar Convidado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="formEditaConvidado" method="post" class="modal-body col-8 offset-2">
                                <div>
                                    <label class="col-6 form-label">Nome do convidado:</label>
                                    <label class="col-3 form-label">RG:</label>
                                </div>
                                <div>
                                    <input type="text" th:value="${convidado.nomeConvidado}" name="nomeConvidado" class="col-7 form-input">
                                    <input type="text" th:value="${convidado.rg}" name="rg" class="col-3 form-input">
                                    <input type="hidden" name="evento.id" th:value="${convidado.evento.id}" />
                                    <input type="hidden" name="id" th:value="${convidado.id}">

                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Atualizar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </table>

</div>
</body>
</html>